defaults:
  - paths: paths_10km.yaml
  - _self_

experiment:
  batch_size: 32
  num_workers: 4

variables:
  input:
    precip: RhiresD
    temp: TabsD
    temp_min: TminD
    temp_max: TmaxD
  target:
    precip: RhiresD
    temp: TabsD
    temp_min: TminD
    temp_max: TmaxD

preprocessing:
  nan_to_num: true
  nan_value : 0.0

data:
  train:
    input: ${paths.data.train.input}
    target: ${paths.data.train.target}
  val:
    input: ${paths.data.val.input}
    target: ${paths.data.val.target}
  test:
    input: ${paths.data.test.input}
    target: ${paths.data.test.target}
  static:
    elevation: ${paths.data.static.elevation}

encoder:
  _target_: LDM_conditional.models.components.ae.SimpleConvEncoder
  in_dim: 4
  levels: 2
  min_ch: 16
  ch_mult: 4

decoder:
  _target_: LDM_conditional.models.components.ae.SimpleConvDecoder
  in_dim: 64 #32 Channels for mean and log var : AsthanaSh
  levels: 2
  min_ch: 16
  out_dim: 4

conditioner:
  _target_: LDM_conditional.models.components.ldm.conditioner.AFNOConditionerNetCascade
  autoencoder: ${model.autoencoder}
  embed_dim: [64,128,256,256]  #Must match the denoiser context_ch : AsthanaSh
  analysis_depth: 4
  cascade_depth: 4
  context_ch: [64,128,256,256]  #Must match the denoiser context_ch : AsthanaSh


#Denoising Unet should expect the dims of the VAE output (latent): AsthanaSh
denoiser:
  _target_: LDM_conditional.models.components.ldm.denoiser.UNetModel
  in_channels: 32 #Must match the VAE latent channels : AsthanaSh
  out_channels: 32
  model_channels: 64
  num_res_blocks: 2
  attention_resolutions: [1,2,4]
  context_ch: [64,128,256,256]  #Must match the conditioner embed_dim : AsthanaSh
  channel_mult: [1,2,4,4]
  conv_resample: true
  dims: 2
  use_fp16: false
  num_heads: 4

sampler:
  _target_: LDM_conditional.models.components.ldm.denoiser.DDIMSampler
  model: ${denoiser}
  schedule: "linear"
  device: "cuda"
  ddim_num_steps: 250
  ddim_eta: 0.0


ema:
  _target_: LDM_conditional.models.components.ldm.denoiser.LitEma
  model: ${denoiser}
  decay: 0.9999
  use_num_updates: true

datamodule:
  _target_: LDM_conditional.DownscalingDataModule.DownscalingDataModule #Path to the exact class, not the module file : AsthanaSh
  train_input: ${data.train.input}
  train_target: ${data.train.target}
  val_input: ${data.val.input}
  val_target: ${data.val.target}
  test_input: ${data.test.input}
  test_target: ${data.test.target}
  elevation: ${data.static.elevation} #Added elevation to datamodule for context conditioning : AsthanaSh
  batch_size: ${experiment.batch_size}
  num_workers: ${experiment.num_workers}
  preprocessing:
    variables: ${variables}
    preprocessing: ${preprocessing}

  
callbacks:
  early_stopping:
    _target_: lightning.pytorch.callbacks.EarlyStopping
    monitor: val/loss
    patience: 10
    mode: min
  model_checkpoint:
    _target_: lightning.pytorch.callbacks.ModelCheckpoint
    dirpath: LDM_conditional/trained_ckpts/10km/
    filename: LDM_checkpoint_V1_linear_schedule_250_steps
    save_top_k: 1
    monitor: val/loss
    mode: min

model:
  _target_: LDM_conditional.models.ldm_module.LatentDiffusion
  denoiser: ${denoiser}
  autoencoder:
    _target_: LDM_conditional.models.ae_module.AutoencoderKL
    encoder: ${encoder}
    decoder: ${decoder}
  unet_regr: /work/FAC/FGSE/IDYST/tbeucler/downscaling/sasthana/Downscaling/Downscaling_Models/LDM_conditional/trained_ckpts/10km/LDM_conditional.models.unet_module.DownscalingUnetLightning_checkpoint.ckpt
  
  context_encoder: ${conditioner}  #Conditions the denoiser with coarse UNet predictors: AsthanaSh
  #VAE ckpt loaded from the ae_load_state_file 
  ae_load_state_file: /work/FAC/FGSE/IDYST/tbeucler/downscaling/sasthana/Downscaling/Downscaling_Models/LDM_conditional/trained_ckpts/10km/LDM_conditional.models.ae_module.AutoencoderKL_checkpoint-v1.ckpt
  #Note : Output from LDM : [batch_size, 4, height, width] (AsthanaSh)
  parameterization: "v"
  loss_type: "l2"
  timesteps: 1000