defaults:
  - paths: paths_12km_bivariate_yeo_johnson.yaml
  - _self_

wandb:
  project: UNet_optim_run_12km_bivariate_yeo_johnson
  name: ${hydra.job.override_dirname}

experiment:
  batch_size: 32
  num_workers: 4

variables:
  input:
    precip: __xarray_dataarray_variable__ #Porcessing issue,,, named as such in preprocessing script
    temp: TabsD

  target:
    precip: __xarray_dataarray_variable__
    temp: TabsD


preprocessing:
  nan_to_num: true
  nan_value : 0.0

data:
  train:
    input: ${paths.data.train.input}
    target: ${paths.data.train.target}
  val:
    input: ${paths.data.val.input}
    target: ${paths.data.val.target}
  test:
    input: ${paths.data.test.input}
    target: ${paths.data.test.target}
  static:
    elevation: ${paths.data.static.elevation}

datamodule:
  _target_: LDM_conditional.DownscalingDataModule.DownscalingDataModule
  train_input: ${data.train.input}
  train_target: ${data.train.target}
  val_input: ${data.val.input}
  val_target: ${data.val.target}
  test_input: ${data.test.input}
  test_target: ${data.test.target}
  elevation: ${data.static.elevation}
  batch_size: ${experiment.batch_size}
  num_workers: ${experiment.num_workers}
  preprocessing:
    variables: ${variables}
    preprocessing: ${preprocessing}

callbacks:
  early_stopping:
    _target_: lightning.pytorch.callbacks.EarlyStopping
    monitor: val/loss
    patience: 10
    mode: min

  model_checkpoint:
    _target_: lightning.pytorch.callbacks.ModelCheckpoint
    dirpath: LDM_conditional/trained_ckpts_optimised/12km/yeo_johnson/

    #For sweep without CRPS
    #filename: ${model._target_}_bs${experiment.batch_size}_lr${model.lr}_delta${model.huber_delta}_factor${lr_scheduler.factor}_pat${lr_scheduler.patience}.ckpt
    #For sweep with CRPS
    filename: ${model._target_}_bs${experiment.batch_size}_lr${model.lr}_precipweight${model.precip_loss_weight}_delta${model.huber_delta}_crps${model.use_crps_channels}_factor${lr_scheduler.factor}_pat${lr_scheduler.patience}.ckpt
    save_top_k: 1
    monitor: val/loss
    mode: min

model:
  _target_: LDM_conditional.models.unet_module.DownscalingUnetLightning
  in_ch: 3
  out_ch: 2
  features: [64,128,256,512]
  channel_names: ["precip", "temp"]
  lr: 1e-3
  huber_delta: 1.0  #used only for precip channel. 
  use_crps_channels: [] #Not used when left empty. 
  precip_loss_weight: 1.0 #Customisable impotance in sweep. 

lr_scheduler:
  _target_: lightning.pytorch.lr_scheduler.ReduceLROnPlateau
  mode: min
  factor: 0.50
  patience: 3
  min_lr: 1e-6