defaults:
  - paths: paths_10km.yaml
  - _self_

latent_dim : 32

experiment:
  batch_size: 32
  num_workers: 4

variables:
  input:
    precip: RhiresD
    temp: TabsD
    temp_min: TminD
    temp_max: TmaxD
  target:
    precip: RhiresD
    temp: TabsD
    temp_min: TminD
    temp_max: TmaxD

preprocessing:
  nan_to_num: true
  nan_value : 0.0

data:
  train:
    input: ${paths.data.train.input}
    target: ${paths.data.train.target}
  val:
    input: ${paths.data.val.input}
    target: ${paths.data.val.target}
  test:
    input: ${paths.data.test.input}
    target: ${paths.data.test.target}
  static:
    elevation: ${paths.data.static.elevation}

encoder:
  _target_: LDM_conditional.models.components.ae.SimpleConvEncoder
  in_dim: 4  #AsthanaSh: Output from Unet is four channels (minus static), fed into VAE for latent representaton of residuals. 
  levels: 2
  min_ch: ${latent_dim}
  ch_mult: 1

decoder:
  _target_: LDM_conditional.models.components.ae.SimpleConvDecoder
  in_dim: ${latent_dim} #Matching encoders OP
  levels: 2
  min_ch: ${latent_dim}

datamodule:
  _target_: LDM_conditional.DownscalingDataModule.DownscalingDataModule
  train_input: ${data.train.input}
  train_target: ${data.train.target}
  val_input: ${data.val.input}
  val_target: ${data.val.target}
  test_input: ${data.test.input}
  test_target: ${data.test.target}
  elevation: ${data.static.elevation}
  batch_size: ${experiment.batch_size}
  num_workers: ${experiment.num_workers}
  preprocessing:
    variables: ${variables}
    preprocessing: ${preprocessing}

callbacks:
  early_stopping:
    _target_: lightning.pytorch.callbacks.EarlyStopping
    monitor: val/loss
    patience: 10
    mode: min
  model_checkpoint:
    _target_: lightning.pytorch.callbacks.ModelCheckpoint
    dirpath: LDM_conditional/trained_ckpts/50km/
    filename: ${model._target_}_checkpoint
    save_top_k: 1
    monitor: val/loss
    mode: min

unet_arch:
  _target_: LDM_conditional.models.unet_module.DownscalingUnet
  in_ch: 5  #4 vars + elevation
  out_ch: 4
  features: [64,128,256,512]


model:
  _target_: LDM_conditional.models.ae_module.AutoencoderKL
  encoder: ${encoder}
  decoder: ${decoder}


  kl_weight: 0.01
  ae_flag: "residual"

  unet_regr: LDM_conditional/trained_ckpts/10km/LDM_conditional.models.unet_module.DownscalingUnetLightning_checkpoint.ckpt  # set only if using residuals


lr_scheduler:
  _target_: lightning.pytorch.lr_scheduler.ReduceLROnPlateau
  mode: min
  factor: 0.5
  patience: 3
  min_lr: 1e-6