*.txt
*.nc
environment.sh
base_dir.sh
data/
Outputs/
logs/
results/
*.json
*.csv
.paths.yaml
*.log
*.pth
*.pt
*.wandb
*.h5
*.pyc
*.npz
__pycache__/
*.png
*.jpg
#zarr files
*.zarr
Model_Runs/
Training_Chronological_Dataset/
Combined_Chronological_Dataset/
BC_methods/config.py
#pycache
__pycache__/
*.txt
*.nc
environment.sh
base_dir.sh
*.png
*.npz
logs/
*.csv
*.json
*.h5
*.pth
*.pt
*.pkl
*.log
*.pyc
__pycache__/
Outputs/
