defaults:
  - paths: paths_12km_bivariate.yaml
  - _self_

experiment:
  batch_size: 32
  num_workers: 4

variables:
  input:
    precip: RhiresD
    temp: TabsD

  target:
    precip: RhiresD
    temp: TabsD

preprocessing:
  nan_to_num: true
  nan_value : 0.0

data:
  train:
    input: ${paths.data.train.input}
    target: ${paths.data.train.target}
  val:
    input: ${paths.data.val.input}
    target: ${paths.data.val.target}
  test:
    input: ${paths.data.test.input}
    target: ${paths.data.test.target}
  static:
    elevation: ${paths.data.static.elevation}


conditioner:
  _target_: DDIM_conditional_derived.models.components.ldm.conditioner.AFNOConditionerNetCascade
  autoencoder: ${model.autoencoder}
  embed_dim: [64,128,256,256]  #Must match the denoiser context_ch : AsthanaSh
  analysis_depth: 4
  cascade_depth: 4
  context_ch: [64,128,256,256]  #Must match the denoiser context_ch : AsthanaSh

denoiser:
  _target_: DDIM_conditional_derived.models.components.diff.denoiser.unet
  in_channels: 3 #Must match the VAE latent channels : AsthanaSh
  out_channels: 2
  model_channels: 64
  num_res_blocks: 2
  attention_resolutions: [1,2,4]
  context_ch: [64,128,256,256]  #Must match the conditioner embed_dim : AsthanaSh
  channel_mult: [1,2,4,4]
  conv_resample: true
  dims: 2
  use_fp16: false
  num_heads: 4

sampler:
  _target_: DDIM_conditional_derived.models.components.diff.denoiser.DDIMSampler
  model: ${denoiser}
  schedule: "cosine"
  device: "cuda"
  ddim_num_steps: 250
  ddim_eta: 0.0


ema:
  _target_: DDIM_conditional_derived.models.components.diff.denoiser.LitEma
  model: ${denoiser}
  decay: 0.9999
  use_num_updates: true

datamodule:
  _target_: DDIM_conditional_derived.DownscalingDataModule.DownscalingDataModule #Path to the exact class, not the module file : AsthanaSh
  train_input: ${data.train.input}
  train_target: ${data.train.target}
  val_input: ${data.val.input}
  val_target: ${data.val.target}
  test_input: ${data.test.input}
  test_target: ${data.test.target}
  elevation: ${data.static.elevation} #Added elevation to datamodule for context conditioning : AsthanaSh
  batch_size: ${experiment.batch_size}
  num_workers: ${experiment.num_workers}
  preprocessing:
    variables: ${variables}
    preprocessing: ${preprocessing}

  
callbacks:
  early_stopping:
    _target_: lightning.pytorch.callbacks.EarlyStopping
    monitor: val/loss
    patience: 10
    mode: min
  model_checkpoint:
    _target_: lightning.pytorch.callbacks.ModelCheckpoint
    dirpath: DDIM_conditional_derived/trained_ckpts/10km/
    filename: DDIM_checkpoint_V1_cosine_schedule_250_steps
    save_top_k: 1
    monitor: val/loss
    mode: min

model:
  _target_: DDIM_conditional_derived.models.ldm_module.LatentDiffusion
  denoiser: ${denoiser}
  autoencoder:
    _target_: DDIM_conditional_derived.models.ae_module.AutoencoderKL
    encoder: ${encoder}
    decoder: ${decoder}
    latent_dim: ${latent_dim}
  unet_regr: /work/FAC/FGSE/IDYST/tbeucler/downscaling/sasthana/Downscaling/Downscaling_Models/DDIM_conditional_derived/trained_ckpts/12km/DDIM_conditional_derived.models.unet_module.DownscalingUnetLightning_checkpoint.ckpt
  
  context_encoder: ${conditioner}  #Conditions the denoiser with coarse UNet predictors: AsthanaSh
  sampler: ${sampler}
  ema: ${ema}
  parameterization: "v"
  loss_type: "l2"
  timesteps: 1000